.pokemon{
    border: 2px solid rgb(16, 163, 189);
    border-radius: 8px;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pokemonNumber{
    border: 2px solid rgb(16, 163, 189);
    width: 10%;
    height: 30px;
    text-align: center;
    padding-top: 20px;
}

.hideId{
    display: none;
}